/*
This file could be used under both CC-BY-SA 4.0 or at your chosing GNU GPLv3 or any later version
*/

html {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
* {
    background-color: #4E46D3;
    font-size: 20px;
    list-style-type: none;
}

body{
    color: #DAD3CE;
    font-family:Open Sans;
}

@font-face {
  font-family: Open Sans;
  src: url(/style/OpenSans-ExtraBold.woff);
}

pre {
    /*background: #a89984;*/
    border: 10px solid #928374;
    border-radius: 10px;
    padding: 1em;
    margin: 1em;
    white-space: pre-wrap;
}

h1 {
    font-size: 30px;
    color: #CC35F0;
}

h2 {
    font-size: 25px;
    color: #3798DD;
}

h3 {
    font-size: 22px;
    color: #84C2EE;
}

code {
	background-color: #9B744E;
	/*border: 5px solid #928374;*/
	border-radius: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

ul li {
    list-style: inside circle;
    display:list-item;
}

table {
  border-collapse: collapse;
  border: 2px solid #7c6f64;
} 

th,td {
  border: 2px solid #7c6f64;
}

a {
    color: #C648EA;
}

a:hover {
    color: #DB82F4;
}

img {
    max-width: 50%;
    height: auto;
}
input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #EBEBEB;
  background-color: #372B75;
  color: white;
}
button {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #EBEBEB;
  background-color: #372B75;
  color: white;
}
