<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Zortazert's website!</title>
  <link rel="stylesheet" href="../style/styles.css">
</head>

<h2>Joey goes to the Poke Mart!</h2>

<iframe title="Joey go's to the Poke-Mart!" src="https://tube.tchncs.de/videos/embed/88542426-c68e-4933-9096-cdf8c1623a87" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" width="560" height="315" frameborder="0"></iframe>

<ul>
  <li><b>Author:</b> trueauracoral</li>
  <li><b>Publish Date:</b> July 8th, 2021</li>
</ul>
